[submodule "jdauphant.awesome-ansible"]
	path = jdauphant.awesome-ansible
	url = https://github.com/jdauphant/awesome-ansible.git
[submodule "hslatman.awesome-threat-intelligence"]
	path = hslatman.awesome-threat-intelligence
	url = https://github.com/hslatman/awesome-threat-intelligence.git
[submodule "enginyoyen.ansible-best-practises"]
	path = enginyoyen.ansible-best-practises
	url = https://github.com/enginyoyen/ansible-best-practises.git
[submodule "networktocode.awesome-network-automation"]
	path = networktocode.awesome-network-automation
	url = https://github.com/networktocode/awesome-network-automation.git
[submodule "radish-bdd.radish-quickstart"]
	path = radish-bdd.radish-quickstart
	url = https://github.com/radish-bdd/radish-quickstart
[submodule "behave.behave.example"]
	path = behave.behave.example
	url = https://github.com/behave/behave.example.git
[submodule "artemmkin.infrastructure-as-code-tutorial"]
	path = artemmkin.infrastructure-as-code-tutorial
	url = https://github.com/artemmkin/infrastructure-as-code-tutorial.git
[submodule "adfinis-sygroup.ansible-guide"]
	path = adfinis-sygroup.ansible-guide
	url = https://github.com/adfinis-sygroup/ansible-guide.git
[submodule "ansible.galaxy-docs"]
	path = ansible.galaxy-docs
	url = https://github.com/ansible/galaxy-docs.git
