[submodule "jdauphant.awesome-ansible"]
	path = jdauphant.awesome-ansible
	url = https://github.com/jdauphant/awesome-ansible.git
[submodule "hslatman.awesome-threat-intelligence"]
	path = hslatman.awesome-threat-intelligence
	url = https://github.com/hslatman/awesome-threat-intelligence.git
[submodule "enginyoyen.ansible-best-practises"]
	path = enginyoyen.ansible-best-practises
	url = https://github.com/enginyoyen/ansible-best-practises.git
[submodule "networktocode.awesome-network-automation"]
	path = networktocode.awesome-network-automation
	url = https://github.com/networktocode/awesome-network-automation.git
